@{
    ViewData["Title"] = "تماس با ما";
}
<h1>راه های ارتباطی</h1>

<hr />
<div class="card col-md-6">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ایمیل : sadrabroo@gmail.com</li>
        <li class="list-group-item">وب سایت : sadraboromand.github.io</li>
    </ul>
</div>
